<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/slick.css">
    <script src="https://kit.fontawesome.com/36be16582a.js" crossorigin="anonymous"></script>
    <title>Author</title>
    <script>
        function customToggle(x) {
            x.classList.toggle("change");
        }
    </script>
</head>

<body class="bg_general">
    <!-- Navigation -->
    <nav class="site-navigation">
        <div class="site-navigation-inner site-container">
            <img src="/images/site-logo.png" alt="site logo">
            <div class="main-navigation" onclick="customToggle(this)">
                <ul class="main-navigation__ul">
                    <li><a href="#top">Homepage</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#books">My Books</a></li>
                    <li><a href="#pages">My Blog</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
            <div id="myBtn" class="burger-container" onclick="customToggle(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </nav>
    <!-- Navigation end -->

    <!-- Top banner -->
    <section id="#top" class="fh5co-top-banner">
        <div class="top-banner__inner site-container">
            <div class="top-banner__image">
                <div class="magic-box">
                    <img id="profile-main-image" class="magic-item" src="https://dummyimage.com/636x718/000000/ffffff.jpg&text=⚪⚪⚪⚪⚪" alt="author image">
                </div>
            </div>
            <div class="top-banner__text">
                <div class="top-banner__text-up">
                    <span class="brand-span">Hello! I'm</span>
                    <h2 class="top-banner__h2" id="organization-name">.....</h2>
                    <span class="brand-span" id="organization-headline">.....</span>
                </div>
                <p id="organization-motto">...</p>
                <a href="#about-me" class="brand-button">Read bio > </a>
            </div>
        </div>
    </section>
    <!-- Top banner end -->

    <!-- About me -->
    <section id="about-me" class="fh5co-about-me">
        <div class="about-me-inner site-container">
            <article class="portfolio-wrapper">
                <div class="portfolio__img">
                    <img id="profile-about-image" class="about-me__profile" src="https://dummyimage.com/380x265/000000/ffffff.jpg&text=⚪⚪⚪⚪⚪" alt="about me profile picture">
                </div>
                <div class="portfolio__bottom">
                    <div id="founder-name" class="portfolio__name"></div>
                    <p id="founder-headline"></p>
                </div>
            </article>
            <div class="about-me__text">
                <div class="about-me-slider">
                    <div class="about-me-single-slide">
                        <h2 class="universal-h2 universal-h2-bckg">About me</h2>
                        <p id="about-me-1"></p>
                        <h4>Author</h4>
                    </div>
                    <div class="about-me-single-slide">
                        <h2 class="universal-h2 universal-h2-bckg">About me</h2>
                        <p id="about-me-2"></p>
                        <h4>Author</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-me-bckg"></div>
    </section>
    <!-- About me end -->

    <!-- Books and CD -->
    <section id="books" class="fh5co-books">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">New Books</h2>
            <div class="books"></div>
            <!-- <div class="books-brand-button">
                <a href="#" class="brand-button">View more</a>
            </div> -->
        </div>
    </section>
    <!-- Books and CD end -->

    <!-- Counter -->
    <div class="fh5co-counter counters">
        <div class="counter-inner site-container">
            <div class="single-count">
                <span id="books-count" class="count" data-count="0">0</span>
                <div class="single-count__text">
                    <img src="/images/counter-1.png" alt="counter icon">
                    <p>Books</p>
                </div>
            </div>
            <div class="single-count">
                <span id="pages-count" class="count" data-count="0">0</span>
                <div class="single-count__text">
                    <img src="/images/counter-2.png" alt="counter icon">
                    <p>Pages</p>
                </div>
            </div>
            <div class="single-count">
                <span id="reviews-count" class="count" data-count="0">0</span>
                <div class="single-count__text">
                    <img src="/images/counter-3.png" alt="counter icon">
                    <p>Reviews</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter -->

    <!-- Blog -->
    <section id="pages" class="fh5co-blog">
        <div class="site-container">
            <h2 class="universal-h2 universal-h2-bckg">My Blog</h2>
            <div class="pages blog-slider blog-inner"></div>
        </div>
    </section>
    <!-- Blog end -->

    <!-- Quotes -->
    <section id="reviews" class="fh5co-quotes">
        <div class="site-container">
            <div class="reviews about-me-slider"></div>
        </div>
    </section>
    <!-- Quotes end -->

    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-bottom">
            <div class="site-container footer-bottom-inner">
                <p>
                    © 2022 | Design by <a href="https://linkedin.com/in/jordy-kristianata" target="_blank">Jordy</a>
                </p>
                <ul id="social">
                    <li>
                        <a id="facebook" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                <i class="fab fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id="instagram" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a id="youtube" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/home.js"></script>

</body>

</html>