.bg_general {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(90deg, #F5FFFA, #EDBB99, #EDBB99, #F8F8FF);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}